@model Hotel.Domain.Entities.Web.FirstBaner

@{
    ViewData["Title"] = "Details";
}

<div class="container text-center">
    <div class="row justify-content-md-center">
        <h1>جزییات</h1>

        <div>
            <h4>بنر @Model.banerTitle</h4>
            <hr />

        </div>
    </div>
</div>


<div class="container text-center">
    <div class="row justify-content-md-center">
        <div class="col-2 p-3">
            @Html.DisplayNameFor(model => model.banerTitle)
        </div>
        <div class="col-6">
            @Html.DisplayFor(model => model.banerTitle)
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-2 p-3">
            @Html.DisplayNameFor(model => model.banerBotton)
        </div>
        <div class="col-6">
            @Html.DisplayFor(model => model.banerBotton)
        </div>
    </div>
    <div class="row justify-content-md-center align-content-center align-items-center">
        <div class="col-2 p-3">
            @Html.DisplayNameFor(model => model.ImageName)
        </div>
        <div class="col-6"> 
            <img class="img-thumbnail" src="/img/@(Model.ImageName).jpg" width="200" height="200" alt="" />
        </div>
    </div>
    <div class="row justify-content-md-center align-content-center align-items-center">
        <div class="col p-3">
            <a class="btn btn-info p-2" asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
            <a class="btn btn-info p-2" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>
@*<dl>
    <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.banerTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.banerTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.banerBotton)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.banerBotton)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class="col-sm-10">*@

