@model IEnumerable<Hotel.Domain.Entities.Web.FirstBaner>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>بنر های سایت</h1>

    <p>
        <a class="btn btn-outline-info" asp-action="Create">ایجاد بنر</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.banerTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.banerBotton)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.banerTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.banerBotton)
                    </td>
                    <td>
                        @* @Html.DisplayFor(modelItem => item.ImageName)*@
                        <img class="img-thumbnail" src="/img/@(item.ImageName).jpg" style="width: 100px; height: 100px;" alt="" />
                    </td>
                    <td>
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.ID">ویرایش</a> |
                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.ID">جزئیات</a> |
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ID">حذف</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>